.container {
  width: 95vw;
  height: fit-content;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.textContainer {
  position: relative;
  height: 42vw;
  flex-shrink: 0;
  transition: width 500ms ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-mid-half);
  border-radius: 1.5vw;
}
.text {
  position: absolute;
  width: 34vw;
  height: 92%;
  border-radius: 2vw;
}
.text h2 {
  font-size: 2vw;
  font-weight: 700;
}
.text p {
  font-weight: 300;
}
.mapContainer {
  position: relative;
  width: 93vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: fit-content;
  aspect-ratio: 16 / 7.05;
  overflow: hidden;
  flex-shrink: 0;
}
.fullView {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mid);
  width: 2.2rem;
  height: 2.2rem;
  margin: 1rem;
  border: 1px solid var(--color-mid);
  border-radius: 0.5rem;
  box-sizing:border-box;
  font-family: system-ui, sans-serif;
  font-size: 1.8rem;
  font-weight: light;
  line-height: calc(2.2rem - 2px);
  text-align: center;
  cursor: pointer;
  transition: transform 100ms linear;
}
.fullView:hover {
  background-color: var(--color-mid-2);
  transform: scale(1.08);
}
.fullView:active {
  background-color: var(--color-mid-3);
  transform: scale(0.95);
}
.mapContainer object {
  width: 100%;
  height: 100%;
  display: block;
}
.mapLabels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.mapLabels button {
  position: absolute;
  line-height: 1em;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 800;
  color: whitesmoke;
  letter-spacing: -0.04em;
  -webkit-text-stroke-width: 0.07vw; /* Outline width */
  -webkit-text-stroke-color: #181818; /* Outline color */
  /* text-shadow: 0.05vw 0.05vw 0 #222222, -0.05vw 0.05vw 0 #222222, 0.05vw -0.05vw 0 #222222, -0.05vw -0.05vw 0 #222222; */
  transition: opacity 200ms ease-in-out, transform 100ms ease-in-out;
}
.mapLabels button:hover {
  opacity: 1;
  color: #fff769;
}
