.nav {
  position: sticky;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 9;
  top: 0;
}
.navButtons {
  margin: 1vw;
  border-radius: 3vw;
  height: 3vw;
  width: auto;
  background-color: var(--color-mid-half);
  display: flex;
}
.navLink {
  display: inline-block;
  height: 3vw;
  cursor: pointer;
  width: auto;
  min-width: 3vw;
  height: 3vw;
  padding: 0 1vw 0 1vw;
  border-radius: 3vw;
  font-size: 1.15vw;
  line-height: 3vw;
}
.navLink.active {
  background-color: var(--color-mid-3);
  box-shadow: inset 0 0 0 0.1vw var(--color-mid-2);
}
.navLink:hover {
  color: var(--color-back);
  background-color: var(--color-front);
}

a > .title {
  cursor: pointer;
}
.link {
  transition: transform 50ms linear;
}
.link:active {
  transform: scale(0.95);
}
.title {
  width: fit-content;
  cursor: default;
  user-select: none;
}
.title span {
  display: inline-block;
  transition: transform 100ms linear;
}
.title span:nth-child(odd) {
  transform: translateY(-0.08em);
}
.title span:nth-child(even) {
  transform: translateY(0.08em);
}
.link:hover span:nth-child(odd) {
  transform: translateY(0.08em);
}
.link:hover span:nth-child(even) {
  transform: translateY(-0.08em);
}
