.shelf {
  position: relative;
  width: 100%;
  margin-bottom: 3.3vw;
}
.shelf h2 {
  font-size: 2.5vw;
  margin-left: 7.5vw;
  margin-top: 1vw;
  line-height: 1em;
}
.shelf ul {
  width: 100%;
  height: auto;
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  padding-left: 7.5vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: left;
  scroll-padding-left: 7.5vw;
  scroll-padding-right: 5vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-snap-type: x mandatory;
}
.shelf li {
  height: 20vw;
  width: 15vw;
  margin-right: 2.5vw;
  /* transition: width 100ms ease, height 100ms ease; */
  transition: transform 100ms ease;
  cursor: pointer;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.shelf img {
  min-width: 100%;
  min-height: 100%;
}
.shelf li > div {
  transition: transform 100ms ease;
  border-radius: 0.5vw;
  overflow: hidden;
}
.shelf li > div:hover {
  transform: scale(1.13);
}
.shelf li > div:active {
  opacity: 0.8;
  transform: scale(1.1);
}

.shelf button:first-of-type, .shelf button:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  width: 5.02vw;
  height: 23vw;
  display: flex;
  align-items: center;
}
.shelf button:first-of-type {
  left: 0;
}
.shelf button:nth-of-type(2) {
  right: 0;
}
.shelf button > div {
  height: 20vw;
  width: 100%;
  opacity: 0.5;
  font-size: 3vw;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shelf button span {
  display: inline-block;
  width: 3.5vw;
  height: 3.5vw;
  line-height: calc(3.5vw - 0.3vw);
  border: 0.12vw solid var(--color-mid-4);
  border-radius: 50%;
  background-color: var(--color-mid-3);
  transition: transform 100ms linear;
}
.shelf button > div:hover {
  opacity: 1;
}
.shelf button > div:hover span {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.1vw rgba(0,0,0,0.5));
}
.shelf h3, .stack h3 {
  font-weight: 600;
}



.stack {
  position: relative;
  margin-top: 1vw;
  flex-shrink: 1;
  overflow-y: auto;
}
.stack ul {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  overflow-y: scroll;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
.stack li {
  height: auto;
  aspect-ratio: 3 / 4;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1vw;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
}
.stack img {
  min-width: 100%;
  min-height: 100%;
}
.stack li > div {
  border-radius: 0.5vw;
  overflow: hidden;
}
.stack li > div:hover, .stack li > div.active {
  outline: 0.3vw solid var(--color-front);
}
.stack li > div:active {
  opacity: 0.8;
}



.windowBg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  visibility: hidden;
  transition: visibility 300ms;
  overflow: scroll;
}
.windowBg.active {
  visibility: visible;
  opacity: 1;
}
.windowBg > div:first-of-type {
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 300ms;
}
.windowBg.active > div:first-of-type {
  opacity: 1;
}
.window {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 2.5vw);
  margin-top: 2.5vw;
  background-color: var(--color-back);
  border-radius: 1.5vw 1.5vw 0 0;
  box-shadow: inset 0 0 0 0.1vw var(--color-mid);
  transform: translateY(100%);
  transition: transform 300ms ease;
  padding: 4vw 6vw 4vw 6vw;
}
.windowBg.active .window {
  transform: translateY(0);
}

.window .wrapper h1 {
  font-size: 5.5vw;
  line-height: 1.05em;
  font-weight: 800;
  margin-bottom: 0.55vw;
}
.window .wrapper h2 {
  font-size: 1.8vw;
  font-weight: 300;
  line-height: 1.2em;
  mergin-top: 0.5em;
}
.window .wrapper h2 > span {
  display: inline-block;
  white-space: nowrap;
}
.window .wrapper h3 {
  font-weight: 400;
  font-size: 1.2vw;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.window .wrapper h3 > span {
  display: inline-block;
  margin-right: 1.4vw;
}
.window .wrapper h3 > span > span {
  vertical-align: 0.05vw;
}
.window .wrapper p, .window .wrapper2 p {
  font-size: 1.4vw;
  margin-bottom: 0.5em;
  line-height: 1.25em;
  font-weight: 300;
}
.window .wrapper p > b, .window .wrapper2 p > b, .window .wrapper2 span b {
  font-weight: 600;
}
.window .wrapper {
  display: flex;
  margin-bottom: 4vw;
}
.window .wrapper2 h4:last-of-type {
  margin-bottom: 0.5em;
}
.window .wrapper2 span + p:first-of-type {
  display: inline;
  margin-top: 0.5em;
}
.window .wrapper2 p:nth-of-type(2) {
  margin-top: 0.5em;
}
.window .wrapper > div:nth-of-type(1) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(24vw * 4 / 3);
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > * {
  background-color: var(--color-mid);
  font-size: 1.5vw;
  line-height: 3vw;
  padding: 0 2.5vw 0 2.5vw;
  margin-bottom: 1.3vw;
  margin-right: 1.5vw;
  border-radius: 3vw;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: transform 100ms linear;
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > *:hover {
  background-color: var(--color-mid-2);
  transform: scale(1.1);
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > *:active {
  background-color: var(--color-mid-3);
  transform: scale(1.05);
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > :nth-child(1) {
  color: var(--color-back);
  background-color: var(--color-front);
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > :nth-child(1).inactive {
  color: var(--color-mid);
  background-color: var(--color-back);
  box-shadow: inset 0 0 0 0.2vw var(--color-mid);
  cursor: default;
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(1) > :nth-child(1).inactive:hover {
  transform: scale(1);
}
.window .wrapper > div:nth-of-type(1) > div:nth-of-type(2) {
  position: relative;
  flex-shrink: 1;
  overflow: scroll;
  mask-image: linear-gradient(to bottom, var(--color-back) calc(100% - 0.5em), transparent 100%);
}
.window .wrapper > div:nth-of-type(2) {
  flex-shrink: 0;
  width: 24vw;
  height: calc(24vw * 4 / 3);
  overflow: auto;
  margin-left: 4.5vw;
  background-color: var(--color-mid);
  border-radius: 1vw;
  overflow: hidden;
}
.window .wrapper2 {
  width: 100%;
  min-height: 3vw;
  font-size: 1.4vw;
}
.window .wrapper2 h4 {
  font-size: 1.75vw;
  font-weight: 600;
}

.closeWindow {
  position: absolute;
  top: 1.5vw;
  left: 1.5vw;
  width: 3vw;
  height: 3vw;
  border-radius: 0.75vw;
  text-align: center;
  line-height: 3vw;
  background-color: var(--color-mid-half);
  box-shadow: inset 0 0 0 0.1vw var(--color-mid);
  color: var(--color-mid-4);
  font-weight: light;
  font-size: 2vw;
  font-family: system-ui, sans-serif;
  cursor: pointer;
  transition: transform 100ms linear;
}
.closeWindow:hover {
  transform: scale(1.05);
  box-shadow: inset 0 0 0 0.1vw var(--color-mid-2);
  background-color: var(--color-mid);
  color: var(--color-front);
}
.closeWindow:active {
  transform: scale(0.95);
  box-shadow: inset 0 0 0 0.1vw var(--color-mid-3);
  background-color: var(--color-mid-2);
}



.suggested {
  position: relative;
  width: 100%;
  margin-bottom: 2.5vw;
}
.suggested ul {
  width: 100%;
  height: auto;
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  padding-left: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: left;
  scroll-padding-left: 1.5vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-snap-type: x mandatory;
}
.suggested li {
  height: 20vw;
  width: 15vw;
  margin-right: 2.5vw;
  /* transition: width 100ms ease, height 100ms ease; */
  transition: transform 100ms ease;
  cursor: pointer;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.suggested img {
  min-width: 100%;
  min-height: 100%;
}
.suggested li > div {
  transition: transform 100ms ease;
  border-radius: 0.5vw;
  overflow: hidden;
}
.suggested li > div:hover {
  transform: scale(1.13);
}
.suggested li > div:active {
  opacity: 0.8;
  transform: scale(1.1);
}
.suggested h3 {
  font-weight: 600;
}
.suggested h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1vw;
  letter-spacing: 20%;
  margin-top: 0.4vw;
}



.stream {
  margin-bottom: 2.5vw;
}
.stream ul {
  padding-top: 1.4vw;
  padding-bottom: 1.4vw;
  padding-left: 1.5vw;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1.5vw;
  display: flex;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.stream li {
  width: 20vw;
  aspect-ratio: 16 / 9;
  margin-right: 1.75vw;
  background-color: black;
  border-radius: 1vw;
  text-align: center;
  line-height: calc(20vw * 9 / 16);
  scroll-snap-align: start;
  cursor: pointer;
  transition: background 500ms linear;
}
@keyframes tv-static {
  from { background-size: 100% 100%; }
  to { background-size: 200% 200%; }
}
.stream li:hover {
  outline: 0.3vw solid white;
  /* background:
    repeating-radial-gradient(#000 0 0.0001%, #666 0 0.0002%) 60% 60% / 3000px 3000px,
    repeating-conic-gradient(#000 0 0.0001%, #666 0 0.0002%) 40% 40% / 3000px 3000px;
  background-blend-mode: difference;
  animation: tv-static 0.2s linear infinite; */
}



.fsBg {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #999 0 0.0002%) 60% 60% / 3000px 3000px,
    repeating-conic-gradient(#000 0 0.0001%, #999 0 0.0002%) 40% 40% / 3000px 3000px;
  background-blend-mode: difference;
  animation: tv-static 0.2s linear infinite;
}
